print("simple calculator")

num1 = float(input("enter first number here: "))
num2 = float(input("enter second number here: "))

print("press + to add \npress - to subtract \npress x to multiplex \npress / to devide ")

choice = int(input("please select the following "))

if choice == 1:
    print(num1+num2)
elif choice == 2:
    print(num1-num2)
elif choice == 3:
    print(num1*num2)
elif choice == 4:
    print(num1/num2)
else:
    print("invalid")
    
